:root {
  --text: #55544f;
  --text-h: #191814;
  --bg: #faf9f5;
  --accent: #c44922;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root {
  min-height: 100svh;
}

body {
  margin: 0;
}

h1 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: clamp(3.5rem, 12vw, 8rem);
  letter-spacing: -1.68px;
  margin: 0;
}
p {
  margin: 0;
}
